<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<button onclick="getAllQuiz()">Hiện danh sách quizz</button>
<button onclick="formCreateQuiz()">Thêm Mới</button>
<div id="listQuiz">
</div>
<hr>
<button onclick="getALLAnswer()">Hiện danh sách Answer</button>
<button onclick="formCreateAnswer()">Thêm Mới Anser</button>
<div id="listAnswer"></div>
<hr>
<button onclick="getALLResult()">Hiện danh sách Result</button>
<button onclick="formCreateResult()">Thêm Mới Result</button>
<div id="listResult"></div>
<script src="quizScript.js"></script>
<script src="answerScript.js"></script>
<script src="resultScript.js"></script>
</body>
</html>
